<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">Photos</a></li><!--made changes: added text 'photos'-->
    <li><a ng-href="#">Site Map</a></li><!--made changes: added text 'site map-->
  </ul>
  <h3 class="text-muted">Hello..</h3><!--made changes-->
</div>

<div class="jumbotron">
  <h1>Josh Backel</h1><!--made changes:added text 'josh backel'-->
  <p class="lead">
    <img src="http://www.makeathumbnail.com/thumbnails/image261576.png"><br>
    Nice, I see that you found me. Heres some options... <!--made changes: added text displayed-->
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">View some info<span class="glyphicon glyphicon-ok"></span><!--made changes: added text 'view some info'-->
  <p><a class="btn btn-lg btn-success" ng-href="#">Contact Me!<span class="glyphicon glyphicon-ok"></span><!--made changes: added text 'contact me!'-->
  </a></p>
</div>

<div class="row marketing">
  <h4>Projects I've worked on:</h4> <!--made changes: added text 'things ive worked on:'-->
  <p>
    <a href= "https://www.github.com/jbackel" target= "_blank">www.github.com/jbackel</a><!--made changes: added link to github-->
  </p>

  <h4>Languages:</h4>
  <p>
    <ul class= "list"><!--created a ul -->
      <li><a ng-href= "https://www.angularjs.org" target= "_blank">AngularJS</a></li>
      <li><a href= "https://www.devdocs.io/javascript" target= "_blank">Javascript</a></li>
      <li><a href= "https://www.jquery.com" target= "_blank">jQuery</a></li>
      <li><a href= "https://www.underscorejs.org" target= "_blank">_Underscore.js</a></li>
    </ul>
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from backelTreeInd.</p>
</div>
