<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">Photos</a></li><!--made changes: added text 'photos'-->
    <li><a ng-href="#">Site Map</a></li><!--made changes: added text 'site map-->
  </ul>
  <h3 class="text-muted">Here We Are..</h3><!--made changes-->
</div>

<div class="jumbotron">
  <h1>Josh Backel</h1><!--made changes:added text 'josh backel'-->
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    So I see that you found me.. You have a few options... <!--made changes: added text displayed-->
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">View some info<span class="glyphicon glyphicon-ok"></span><!--made changes: added text 'view some info'-->
  <p><a class="btn btn-lg btn-success" ng-href="#">Contact Me!<span class="glyphicon glyphicon-ok"></span><!--made changes: added text 'contact me!'-->
  </a></p>
</div>

<div class="row marketing">
  <h4>Things I've worked on:</h4> <!--made changes: added text 'things ive worked on:'-->
  <p>
    <a href= "https://www.github.com/jbackel" target= "_blank">www.github.com/jbackel</a><!--made changes: added link to github-->
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>
